@use "../../variables" as *;
@use "../../mixins" as *;


.wpo-section-title {
  margin: 60px 0;
  text-align: center;

  @include media-query(767px) {
    margin-bottom: 40px;
  }

  span {
    display: block;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: $theme-primary-color-s2;

    @include media-query(767px) {
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 0;
    }

    @include media-query(575px) {
      font-size: 18px;
    }
  }

  h2 {
    font-family: Sail;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    position: relative;
    color: $dark-gray;
    display: inline-block;
    margin-top: 10px;

    @include media-query(767px) {
      font-size: 32px;
      line-height: 40px;
    }

    @include media-query(575px) {
      font-size: 25px;
      margin-top: 0;
    }
  }

  p {
    font-size: 18px;
  }
}

.wpo-event-section-s3 {
  padding-bottom: 90px;

  @media(max-width:991px){
    padding-bottom: 80px;
  }
  @media(max-width:767px){
    padding-bottom: 70px;
  }

  .event-row {
    align-items: stretch;
  }

  .map-col {
    display: flex;
    min-height: 450px;

    iframe {
      flex: 1;
    }
  }

  .wpo-event-item {
    max-width: 408px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 0;

    .wpo-event-text {
      text-align: center;
      position: absolute;
      left: 5%;
      bottom: 20px;
      width: 90%;
      background: $white;
      padding: 40px;

      @media(max-width:1199px){
        padding: 40px 20px;
      }

      h2 {
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $theme-primary-color-s2;

        @media(max-width:757px) {
          font-size: 25px;
        }
      }

      ul {
        list-style: none;
        max-width: 245px;
        margin: 0 auto;
        margin-top: 0px;

        li {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150.2%;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            color: $theme-primary-color-s2;
            position: relative;
            display: inline-block;
            margin-top: 10px;
            font-size: 18px;
            text-transform: capitalize;

            &::before {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              content: "";
              background: $theme-primary-color-s2;
            }
          }
        }
      }
    }
  }
}
